h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	;
	;
	;
	;
	;
	;
	;
	;
	;
	;
	;
	;
	;
	;
	;
}
p {
	font-family: 'Average', serif;
}
.entrance {
	border: 2px dotted #F60;
	padding: 5px;
	text-align: center;
}
h5 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	;
	;
	;
	;
	;
	;
	;
	color: #F36;
}
.warning {
	border: 1px dotted #F00;
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
